<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>タスク一覧</title></head>
<body>
<h1>学習タスク管理アプリ</h1>
<p style="color: blue;" th:if="${message}" th:text="${message}"></p>
<a th:href="@{/new}">新規登録</a>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>カテゴリ</th>
    <th>期限</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${tasks}">
    <td th:text="${task.id}"></td>
    <td th:text="${task.title}"></td>
    <td th:text="${task.category}"></td>
    <td th:text="${task.dueDate}"></td>
    <td>
      <a th:href="@{/edit(taskId=${task.id})}">編集</a>
      <a th:href="@{/delete(taskId=${task.id})}">削除</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>